<th:block th:if="${theme.config.singluar.related && not #lists.isEmpty(post.categories)}"
    th:with="recommandPosts = ${postFinder.listByCategory(1,7,post.categories.get(0).metadata.name)},containsTitle = ${#strings.contains(recommandPosts,post.spec.title)}">
    <th:block th:if="${recommandPosts.total>1}">
        <h3 class="related--posts__title">相关文章</h3>
        <div class="post--single__related">
            <th:block th:each="recommandPost,iterStat :${recommandPosts}"
                th:if="${not #strings.equals(post.spec.title, recommandPost.spec.title)}"
                th:with="postType =  ${#annotations.getOrDefault(recommandPost, 'postType','standard')}">
                <div class="post--single__related__status" th:if="${(!containsTitle ? iterStat.index <6 : true) && postType == 'status'}">
                    <a th:href="@{${recommandPost.status.permalink}}" th:aria-label="${recommandPost.spec.title}">
                        <p th:text="${recommandPost.spec.title}"></p>
                        <div class="meta">
                            <svg class="icon" viewBox="0 0 1024 1024" width="16" height="16">
                                <path d="M512 97.52381c228.912762 0 414.47619 185.563429 414.47619 414.47619s-185.563429 414.47619-414.47619 414.47619S97.52381 740.912762 97.52381 512 283.087238 97.52381 512 97.52381z m0 73.142857C323.486476 170.666667 170.666667 323.486476 170.666667 512s152.81981 341.333333 341.333333 341.333333 341.333333-152.81981 341.333333-341.333333S700.513524 170.666667 512 170.666667z m36.571429 89.697523v229.86362h160.865523v73.142857H512a36.571429 36.571429 0 0 1-36.571429-36.571429V260.388571h73.142858z"></path>
                            </svg>
                            <time itemprop="datePublished" th:datetime="${recommandPost.spec.publishTime}" class="humane--time">
                                <th:block th:replace="~{modules/widgets/time :: time(${recommandPost.spec.publishTime.toEpochMilli()})}"></th:block>
                            </time>
                        </div>
                    </a>
                </div>
                <div class="post--single__related__item" th:if="${(!containsTitle ? iterStat.index <6 : true) && postType == 'standard'}">
                    <a th:href="@{${recommandPost.status.permalink}}" th:aria-label="${recommandPost.spec.title}">
                        <div class="post--single__related__item__img">
                            <img th:if="${not #strings.isEmpty(recommandPost.spec.cover)}" th:src="${recommandPost.spec.cover}" class="cover"
                                th:alt="${recommandPost.spec.title}">
                        </div>
                        <div class="post--single__related__item__title" th:text="${recommandPost.spec.title}"></div>
                        <div class="meta">
                            <time th:datetime="${recommandPost.spec.publishTime}" class="humane--time">
                                <th:block
                                    th:replace="~{modules/widgets/time :: time(${recommandPost.spec.publishTime.toEpochMilli()})}">
                                </th:block>
                            </time>
                        </div>
                    </a>
                </div>
            </th:block>
        </div>
    </th:block>
</th:block>