<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
    th:replace="~{modules/layout :: layout(_content = ~{::content},_title = '文章归档')}">
<th:block th:fragment="content">
    <main class="page--archive">
        <th:block th:each="archive : ${postFinder.archives(1, 0).items}">
            <div class="archive--list__year">
                <h2 class="archive--title__year " th:text="${archive.year}"></h2>
                <ul class="archive--list" th:each="month : ${archive.months}" th:data-year="|${archive.year} - ${month.month}|">
                    <li class="archive--item" th:each="post : ${month.posts}">
                        <div class="archive--title">
                            <a th:href="@{${post.status.permalink}}" th:text="${post.spec.title}"></a>
                        </div>
                        <div class="archive--meta" th:text="${#dates.format(post.spec.publishTime,'MM-dd')}"></div>
                    </li>
                </ul>
            </div>
        </th:block>
        <th:block th:replace="~{modules/template-parts/pagination :: pagination('/archives',${archives})}"></th:block>
    </main>
</th:block>

</html>